#qna{
    display: none;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    position: fixed;
    top: 160px;
    z-index: 999 /* 프로그레스 바보다 아래에 오도록 z-index를 설정합니다. */
} 
.answerList{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 25px;
    background-color: whitesmoke;
    border-radius: 7px;
    display: block;
    width: 70%;
    height: 70px;
    border: 0px;
    font-size: 20px;
}
.answerList:hover, .answerList:focus{
    background-color: #1d2d44;
    color: whitesmoke;
}
.progress{
    height: 20px;
    width: 600px;
    border-radius: 20px;
    background-color: white;
    /* margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 70px; */

    position: fixed;
    top: 100px; /* 상단에서 30px 떨어진 위치에 배치합니다. */
    left: 50%; /* 가로 중앙에 배치하기 위해 50%로 설정합니다. */
    transform: translateX(-50%); /* 정확히 중앙에 오도록 자신의 너비의 절반만큼 왼쪽으로 이동시킵니다. */
}
.progressBar{
    height: 100%;
    background-color: #1d2d44;
    border-radius: 20px;
}