#result{
    display: none;
    color: white;
    text-align: center;
}
#resultImg img{
    height: 500px;
    margin-bottom: 20px;
}
#resultName{
    font-size: 25px;
}
#resultDesc{
    margin-bottom: 20px;
}